mixin b-logo(type = "full")
  //link(rel='stylesheet', href=require('./logo.scss'))
  //link(rel='stylesheet', href=require('./logo_type_watermark.scss'))
  //link(rel='stylesheet', href=require('./logo_type_full.scss'))
  -
    let lf= require('@/assets/images/logo-full.png');
    let lw= require('@/assets/images/logo-watermark.png');
  if type == "full"
    +b.b-logo&attributes(attributes).IMG(src=lf alt="logo")._type_full
  else if type == "watermark"
    +b.b-logo&attributes(attributes).IMG(src=lw alt="logo")._type_watermark
  else
    +b.b-logo&attributes(attributes).IMG(src=lf alt="logo")._type_full