mixin b-button(options)
    //-- type, text, icon, disabled, small
    -let modifierClasses = ""
    case options.type
        when "primary"
          - modifierClasses += "_is-primary"
        when "secondary"
          - modifierClasses += "_is-secondary"
        when "text"
          - modifierClasses += "_is-text"
        when "wide"
          - modifierClasses += "_is-wide"
          - options.image = "arrow-forward"
        default
          - modifierClasses += "_is-primary"
    -let iconClass = options.icon ? "_is-"+ options.icon + "-icon" : ""
    -let additionalClass = options.icon ? "_has-icon" : ""
    -let disabled = false;
    -let isSmallClass = options.small ? "_is-small" : "";
    if (options.disabled || options.disabled === "") && options.disabled != "false"
        - disabled = true;
    -let disabledClass = disabled ? "_disabled" : "";
    +b.BUTTON.b-button(class=modifierClasses,
        class=additionalClass class=disabledClass class=isSmallClass)&attributes(attributes)
        +e.SPAN.e-text #{options.text}
        if (options.icon)
            +e.SPAN.e-icon(class=iconClass)

//-
    +b-button({type: "wide", text: "перейти к оплате",
      disabled: "true", icon: "arrow-forward"})(style="margin-bottom: 40px")
